<h1>URL SHORTENER</h1>

<%if (username) { %>
<!-- login -->
  <form method="POST" action="/login">
      <input type="text" name="user_id ">
      <button type="submit" value="Submit">login</button>
  </form>
<% } else { %>
<!-- logout option -->
    <form method="POST" action="/logout">
      <button type="submit" value="Submit">logout</button>
  </form>

<% } %>