<h1>LOGIN PAGE</h1>

<!-- login -->
  <form method="POST" action="/login">
      <input type="email" name="email"> email
      <br>
      <input type="password" name="password"> password
      <br>
      <button type="submit" value="Submit">login</button>
  </form>
