<!DOCTYPE html>
<html>
<head>
  <h1><title>The long URL and its shortened form.</title></h1>
</head>
<body>
    <header> <% include ./partials/_header %></header>
    <%= shortURL %>
    <%=longURL %>
  </body>
</html>