<!DOCTYPE html>
<html>
<head>
  <h1><title>The long URL and its shortened form.</title></h1>
</head>
<body>
    <header>
      <% include ./partials/_header %>
    </header>
    <h2>ShortURL: <%= shortURL %></h2>

    <form method="POST" action="/urls/<%=shortURL%>/update">
      <input type=text name='longURL' value=<%=longURL %>>
      <button type="submit" value=<%=shortURL%>>update</button>
    </form>


  </body>
</html>